{% include "head.html" %}
    {% include "partials/navbar.html" %}
    <div class="container mt-4">
        <h2 class="mb-4">Eliminar sitio turistico</h2>
        <form id="deleteTouristSiteForm" method="POST">
        <div class="container mt-4"></form>
            <div class="mb-3">
            <label for="siteSelect" class="form-label">Selecciona un sitio a editar</label>
            <select id="siteSelect" name="id_tourist_site" class="form-select" required>
                <option value="" disabled selected>-- Selecciona un sitio --</option>
                {% for sitio in sites %}
                    <option value="{{ sitio.id_tourist_site }}">{{ sitio.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-danger mt-3">Eliminar Sitio Turístico</button>
            <button type="button" class="btn btn-secondary mt-3" id="cancelButton">Cancelar</button>
            </div>
    </div>
<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>
<script src="/static/Tourist_Sites/tourist_site_delete.js"></script>
{% include "scripts.html"%}