{% include "head.html" %}

<body>
    {% include "partials/navbar.html" %}

    <div class="container mt-4">
        <h2 class="mb-4">Sitios Turìsticos Creados</h2>

    <h3>¿Qué deseas hacer <span id="username"></span>?</h3>
        <a href="/tourist_sites/add" class="btn btn-primary mb-4">Agregar sitio turístico</a>
        <a href="/tourist_sites/edit" class="btn btn-warning mb-4 text-white">Editar sitio turístico</a>
        <a href="/tourist_sites/delete" class="btn btn-danger mb-4">Eliminar sitio turístico</a>
        {% if sites %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Dirección</th>
                            <th>Contacto</th>
                            <th>Categoría</th>
                            <th>Pagina Web</th>
                            <th>Visitas Promedio</th>
                            <th>Horarios</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for site in sites %}
                            <tr>
                                <td>{{ site.name }}</td>
                                <td>{{ site.description }}</td>
                                <td>{{ site.address }}</td>
                                <td>{{ site.phone }}</td>
                                <td>{{ site.category | title }}</td>
                                <td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
                                <td>{{ "{:,.2f}".format(site.average) }}</td>
                                <td>{{ site.opening_hours }} - {{ site.closing_hours }}</td>
                                <td>
                                    {% if site.is_activate %}
                                        <span class="badge bg-success">Activo</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Inactivo</span>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                ¡Aún no se han agregado sitios turísticos!
            </div>
        {% endif %}
    </div>

    <hr class="mt-5 mb-4">

<script src="/static/tourist_site.js"></script>
{% include "scripts.html" %}