{% include "head.html" %}
    {% include "partials/navbar.html" %}


<div class="container mt-4">
    <h2 class="text-center mb-4">Editar Centro de Información Turística</h2>

    <form id="editCitForm" data-id="{{ cit.id_cit }}">
        <div class="mb-3">
            <label for="district" class="form-label">Distrito</label>
            <input type="text" id="district" name="district" class="form-control" value="{{ cit.district }}" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Dirección</label>
            <input type="text" id="address" name="address" class="form-control" value="{{ cit.address }}" required>
        </div>

        <div class="mb-3">
            <label for="number_cit" class="form-label">Número CIT</label>
            <input type="number" id="number_cit" name="number_cit" class="form-control" value="{{ cit.number_cit }}" required>
        </div>

        <div class="form-check mb-2">
            <input type="checkbox" id="is_activate" name="is_activate" class="form-check-input" {% if cit.is_activate %}checked{% endif %}>
            <label for="is_activate" class="form-check-label">Activo</label>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" id="is_activate_qr_map" name="is_activate_qr_map" class="form-check-input" {% if cit.is_activate_qr_map %}checked{% endif %}>
            <label for="is_activate_qr_map" class="form-check-label">QR Map Activo</label>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="/cit/view" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</div>

<script src="/static/Cits/edit_cit.js"></script>
{% include "scripts.html" %}