{% include "head.html" %}

    {% include "partials/navbar.html" %}

<div class="container text-center mt-5 p-4" style="background-color: #ebebeb;border-radius: 15px;">
    <h1 class="mb-4" style="color: orange;">Explora Maipú, Mendoza con GoTour 📲</h1>

    <p>Los turistas a veces enfrentan desafíos como señalización deficiente, falta de información digital y dificultades para planificar rutas o encontrar lugares seguros. ❌</p>

    <p>GoTour te ayuda usando <strong>códigos QR</strong> en los Centros de Información Turística, que te dan acceso a un <strong>mapa digital interactivo</strong> con:</p>

    <p>🍷 Bodegas &nbsp; 🍴 Restaurantes &nbsp; 🏛️ Museos &nbsp; 🏨 Alojamientos &nbsp; 🎭 Actividades culturales &nbsp; 🕒 Horarios &nbsp; 🚍 Transporte &nbsp; ⭐ Reseñas</p>

    <p>Con GoTour ahorrarás tiempo ⏱️, aumentarás tu seguridad 🛡️ y podrás planificar rutas personalizadas 🗺️.</p>

    <p style="font-weight: bold; color: orange;">Descubre Maipú de manera fácil, segura y divertida con GoTour!</p>
</div>

{% include "scripts.html"%}