{% include "head.html" %}

        {% include "partials/navbar.html" %}
    <div class="container mt-4">
        <form id="loginForm">
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col-form-label">Email address</label>
            <div class="col-sm-8"> 
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword" class="col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" name="password" id="password" class="form-control">
            </div>
        </div>
        <small class="form-text text-muted"><a href="{{url_for('user_bp.forgot_password')}}" target="_blank">Olvidé mi contraseña</a></small>
        <br>
        <br>
        <button type="submit" class="btn" style="background-color: orange; color: white;">Iniciar Sesion</button>
        <a href="{{ url_for('user_bp.register') }}" class="btn btn-primary ms-2">Registrarme</a>
        </form>
    </div>
<script src="/static/auth.js"></script>
{% include "scripts.html"%}