{% include "head.html" %}
{% include "partials/navbar.html" %}

<div class="container mt-5">
  <h2 class="text-center mb-4">Iniciar Sesión</h2>
  <form id="loginForm" class="mx-auto" style="max-width: 500px;">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
          <button type="button" id="togglePassword" class="btn-eye">
        <i class="bi bi-eye"></i>
      </button>
    </div>


    <small class="form-text text-muted d-block mb-3">
      <a href="{{ url_for('user_bp.forgot_password') }}" target="_blank">Olvidé mi contraseña</a>
      <a href="{{ url_for('user_bp.reactivate_account') }}" target="_blank" class="ms-3">Reactivar cuenta</a>
    </small>
    <div class="d-flex justify-content-center gap-2">
      <button type="submit" class="btn btn-warning">Iniciar Sesión</button>
      <a href="{{ url_for('user_bp.register') }}" class="btn btn-primary">Registrarme</a>
    </div>
  </form>
</div>
<div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
  <div id="liveToast" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="toastMessage">Mensaje</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>

{% include "scripts.html" %}