{% include "head.html" %}


        {% include "partials/navbar.html" %}
    <div class="container mt-4">
        <form id="forgot_passwordForm">
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col-form-label">Email address</label>
            <div class="col-sm-8"> 
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Recuperar contraseña</button>
        </form>
    </div>
    

{% include "scripts.html"%}