 {% include "head.html" %}
<body>
    {% include "partials/navbar.html" %}
    <div class="container mt-4">
        <h2 class="mb-4">Registro de Usuario</h2>
        <form id="registerForm">

            <div class="mb-3">
                <label for="first_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="first_name" name="first_name"
                    placeholder="Ingrese su nombre" required minlength="2" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="last_name" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="last_name" name="last_name"
                    placeholder="Ingrese su apellido" required minlength="2" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com"
                    required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Mínimo 6 caracteres" required minlength="6" required>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username"
                    placeholder="Ingrese un nombre de usuario" required minlength="3" required>
            </div>

            <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese su DNI" required
                    minlength="7" maxlength="20" required>
            </div>

            <div class="mb-3">
                <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" required>
            </div>

            <div class="mb-3">
                <label for="photo" class="form-label">Foto de perfil (opcional)</label>
                <input class="form-control" type="file" id="photo" name="photo" accept="image/*">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Ej: +54 9 261 1234567"
                    required>
            </div>

            <div class="mb-3">
                <label for="nationality" class="form-label">Nacionalidad</label>
                <input type="text" class="form-control" id="nationality" name="nationality"
                    placeholder="Ingrese su nacionalidad" required>
            </div>

            <div class="mb-3">
                <label for="province" class="form-label">Provincia</label>
                <input type="text" class="form-control" id="province" name="province" placeholder="Ingrese su provincia"
                    required>
            </div>
            <div class="mb-3">
            <label for="gender" class="form-label">Seleccione su género</label>
            <select class="form-select" id="gender" name="gender" required>
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="prefiero no decirlo">Prefiero no decirlo</option>
            </select>
             </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
            <a href="{{ url_for('user_bp.login') }}" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
    </div>

</body>
{% include "scripts.html"%}