{% include "head.html" %}
{% include "partials/navbar.html" %}

<div class="container mt-4" id="adminSection">
    <h3>¿Qué deseas hacer <span id="username"></span>?</h3>

    <a href="{{url_for('admin_bp.new_user_page')}}" class="btn btn-primary mb-2">Nuevo Usuario</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Rol</th>
                <th scope="col">DNI</th>
                <th scope="col">Fecha Nac.</th>
                <th scope="col">Celular</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Provincia</th>
                <th scope="col">Género</th>
                <th scope="col">Activo</th>
                <th scope="col">ACCIÓNES</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="usersTableBody">
        </tbody>
    </table>
</div>
<script src="/static/admin.js"></script>
{% include "scripts.html"%}